*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

// .container{
//     width: 75%;
//     margin: 0 auto;
// }

.float-left{
    float: left;
}

.float-right{
    float: right;
    
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.btn:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.btn-general{
    margin-left: 5px;
    padding: 10px 18px;
    border-radius: 3px;
}


.dbg{
    background-color: rgba(255, 132, 0, 0.585);
}

.dbgg{
    background-color: rgba(255, 60, 0, 0.585);
}