$colorCube_saltpan: #edf4ec;
$colorCube_saltpanAlpha: rgba(237, 244, 236, 0.08);
$colorCube_woodsmoke: #121117;
$colorCube_capeCod: #4f5050;
$colorCube_blueLagoonAlpha: rgba(4, 131, 131, 0.3);
$colorCube_blueLagoon: rgb(4, 131, 131);
$colorCube_manatee: #919194;
$colorCube_brown: #904d01;
$colorCube_riptide: #88e2e3;
$colorCube_casablanca: #f4ac4f;

$medinCut_grayNurse: #e5ebe5;
$medinCut_outerSpace: #252c2f;
$medinCut_doveGray: #737373;
$medinCut_gumbo: #83a7a8;
$medinCut_regentGray: #7f939c;

$materialDesign_whiskey: #d29261;
$materialDesign_riverBed: #4d5a65;
$materialDesign_elfGreen: #088181;
$materialDesign_elfGreenAlpha: rgba(8, 129, 129, 0.15);
$materialDesign_woodsmoke: #131314;
$materialDesign_morningGlory: #8cdadc;
